/*
 * Good practices demonstration
 *
 * Plop
 */
// Basic single line comment

/// Single line comment for sassdoc

@charset "UTF-8";
@import "requirements";

// Every rules separated with at least one empty line;
.foo {
    font-size: 1rem;
}

// Indentation is always 4 spaces
.bar {
    .yep {
        font-size: 1rem;
    }

    .yip {
        font-size: 1rem;
    }
}

.bar2 {
    .yep { font-size: 1rem; }

    .yip { font-size: 1rem; }
}

// Descendant selector
.mip .map {
    font-size: 1rem;
}

.ping {
    // Pseudo element always with double ":"
    &::after {
        font-size: 1rem;
    }
}

.pong {
    // Combinator (+, >, ~, etc..) allways separated with spaces around
    & + .pang {
        font-size: 1rem;
    }

    & > .pung {
        font-size: 1rem;
    }

    & ~ .pyng {
        font-size: 1rem;
    }
}

// Properties
.props {
    width: 1px; // Property name is allways lowercase
}

// Values
.values {
    display: block; // Value name is allways lowercase
}

// Correct unit type are required
.units {
    font-size: 1px;
    line-height: 1;
    margin: 1em;
    width: 1%;
    height: 2rem;
    top: 1vh;
    left: 1vw;
    border-width: 1pt;
    transform: rotate(30deg);
}

// Number below 1 allways starts with 0
.numbers {
    line-height: 1;
    border-width: 0.5;
}

// Color in long hexa and lowercase when allowed
/* stylelint-disable color-no-hex */
.colors {
    $black: #000000;

    color: #ffffff;
    border-left-color: $black;
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgba($black, 1);
}
/* stylelint-enable color-no-hex */

// Multiline declaration
.b {
    color: $white;
    top: 0;
}

// Blocks
a { color: $white; }
b { color: $black; }

// No spaces in operator and value is double quoted
a[target="_blank"] {
    font-size: 1rem;
}

// Variables
$var1: "plop";
$var2: "plip" !default;
$var3-1: "plap";

// @if and @else directive
@if $var1 {
    .row1 {
        font-size: 1rem;
    }
}

@if $var2 {
    .row2 {
        font-size: 1rem;
    }
} @else {
    .row3 {
        font-size: 1rem;
    }
}

// Vendor prefixes are authorized
@media only screen and (min-resolution: 96dpi) {
    -moz-osx-font-smoothing: grayscale;
}
